Assignment Tasks on String Escape Characters, Indexing, and Slicing:

**String Escape Characters:**

Task 1:
1. Create a string containing a sentence that includes both single and double quotes.
2. Use escape characters to include quotes within the string.
3. Print the modified string.

Task 2:
1. Declare a string with a backslash \ character in it.
2. Demonstrate the use of the escape character to print the backslash itself.
3. Print the resulting string.

Task 3:
1. Construct a string containing newline and tab escape sequences.
2. Print the string to display the formatted output.

**Indexing and Slicing:**

Task 4:
1.  sentence = "I want to become Data Scientist".
2. Access and print the `first character` of the string using indexing.
3. Access and print the `last character` of the string using negative indexing.

Task 5:
1. What are `possible ways` yo extract `Scientist`(use forward and reverse)
2. Use slicing to extract and print the `first word` from the string.
3. Use slicing to extract and print the `last three` characters of the string.

Task 6:
1. name = "Innomatics Reserach Labs"
2. Apply slicing to extract a substring that includes the `second to fifth` characters.
3. `Print` the extracted substring.

Task 7:
1. string = "Python@1234"
2. Use slicing to extract every second character from the string.
3. Print the resulting sliced string.

Task 8:
1.  print last five letters.
2. Utilize slicing to reverse the word order in the string.
3. Print the string with the words in the reversed order.

Task 9:
1. a = "123123123"
2. Apply slicing to extract only the numeric characters at odd positions.
3. Print the sliced result.

Remember to include explanations or comments for each task's code to ensure clarity. Additionally, encourage students to experiment further with different escape characters and slicing techniques beyond the provided tasks to deepen their understanding.

# Task 1

**1.Create a string containing a sentence that includes both single and double quotes**

In [12]:
string = "I am 'Data Analyst' and 'Data Scientist' too"
print (string)

I am 'Data Analyst' and 'Data Scientist' too

**2. Use escape characters to include quotes within the string.**

In [15]:
string = 'I am currently purcuing \"Python programing\" '
print(string)

I am currently purcuing "Python programing"

# Task 2

**1. Declare a string with a backslash \ character in it.**

In [19]:
string = "I am Tejaswi\\"
print(string)

I am Tejaswi\

**2. Demonstrate the use of the escape character to print the backslash itself.**

In [21]:
print("Innomatics Resea\brch Labs")

Innomatics Research Labs

**3. Print the resulting string.**

In [22]:
print("I recently Graduated")

I recently Graduated

# Task 3

**1. Construct a string containing newline and tab escape sequences**

In [27]:
print("I\tam \tfrom\tvijayawada \n currently\tleaving\t in\tHyderabad ")

I	am 	from	vijayawada
 currently	leaving	 in	Hyderabad

**2. Print the string to display the formatted output.**

In [30]:
print('Welcome','Python')

Welcome Python

# Task 4

**1.  sentence = "I want to become Data Scientist".**

In [31]:
sentence = "I want to become Data Scientist"

**2. Access and print the `first character` of the string using indexing.**

In [35]:
sentence = "I want to become Data Scientist"
sentence[23]

'c'

In [37]:
sentence[-9]           # last character

'S'

# Task 5

**1. What are `possible ways` yo extract `Scientist`(use forward and reverse).**

In [51]:
string = "Data Scientist"
string[5:16:1]

'Scientist'

In [52]:
string[5::]

'Scientist'

In [53]:
string[5::1]

'Scientist'

In [55]:
string[-9::1]

'Scientist'

In [56]:
string[-9::]

'Scientist'

# Task 6

1. name = "Innomatics Reserach Labs"
2. Apply slicing to extract a substring that includes the `second to fifth` characters.
3. `Print` the extracted substring.

In [57]:
name = "Innomatics Research Labs"
name[2:5]

'nom'

In [59]:
name[-22:-19]

'nom'

# Task 7

1. string = "Python@1234"
2. Use slicing to extract every second character from the string.
3. Print the resulting sliced string.

In [62]:
string = "Python@1234"
string[::2]

'Pto@24'

In [63]:
print('pto@24')

pto@24

# Task 8

1.  print last five letters.
2. Utilize slicing to reverse the word order in the string.
3. Print the string with the words in the reversed order.

In [64]:
string = "Python@1234"
string[11::-1]

'4321@nohtyP'

In [65]:
string[::-1]

'4321@nohtyP'

# Task 9

1. a = "123123123"
2. Apply slicing to extract only the numeric characters at odd positions.
3. Print the sliced result

In [68]:
a = "123123123"
a[::2]

'13213'