
1. 

   - Create a lambda function that takes two arguments and returns their sum.
   - Create another lambda function that takes a single argument and returns its square.
   - Use the `lambda` functions to calculate the sum and square of various numbers and print the results.

2. 
   - Define a list of integers.
   - Use the `filter` function to create a new list that contains only the even numbers from the original list.
   - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.
   - Print both filtered lists.

3. 
   - Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).
   - Use the `map` function to convert each string to an integer and store the result in a new list.
   - Use the `map` function again to square each integer in the new list and store the result in another new list.
   - Print both new lists.

4. 
   - Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: ` [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]`
   - Use the `filter` function to create a new list that contains only the people who are older than 25.
   - Use the `map` function to create a new list that contains the names of the filtered people.
   - Print the list of names.

5. 
   - Create a program that reads a list of numbers from the user (you can use the `input` function for this).
   - Use `map` and `filter` functions to perform the following operations:
     - Square each number.
     - Filter out numbers that are not divisible by 3.
   - Print the result.

1. 

   - Create a lambda function that takes two arguments and returns their sum.

In [5]:
a = lambda x,y : x+y
a(3,7)

10

- Create another lambda function that takes a single argument and returns its square.

In [7]:
a = lambda n : n**2
a(8)

64

  - Use the `lambda` functions to calculate the sum and square of various numbers and print the results.

In [1]:
numbers = [1,2,3,4]
sum_result = lambda x: sum(x)
square_result = lambda x:[i**2 for i in x]
print("sum of numbers :",sum_result(numbers))
print("square of numbers :",square_result(numbers))

sum of numbers : 10
square of numbers : [1, 4, 9, 16]

2. 
   - Define a list of integers.
   - Use the `filter` function to create a new list that contains only the even numbers from the original list.
   - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.
   - Print both filtered lists.

In [9]:
list = [3,5,8,10,4,6,15,20,25]

In [4]:
tuple(filter(lambda x: x%2==0,[3,5,8,10,4,6,15,20,25]))

(8, 10, 4, 6, 20)

In [5]:
tuple(filter(lambda x : x>10,[3,5,8,10,4,6,15,20,25]))

(15, 20, 25)

In [7]:
list1 = tuple(filter(lambda x: x%2==0,[3,5,8,10,4,6,15,20,25]))
print("Even Numbers :",list1)
list2 = tuple(filter(lambda x : x>10,[3,5,8,10,4,6,15,20,25]))
print("Greater Than 10 :",list2)

Even Numbers : (8, 10, 4, 6, 20)
Greater Than 10 : (15, 20, 25)

3. 
   - Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).
   - Use the `map` function to convert each string to an integer and store the result in a new list.
   - Use the `map` function again to square each integer in the new list and store the result in another new list.
   - Print both new lists.

In [1]:
num = ["1","2","3","4","5","6"]

In [2]:
a = list(map(int,num))

In [3]:
print(a)

[1, 2, 3, 4, 5, 6]

- Use the `map` function again to square each integer in the new list and store the result in another new list.

In [4]:
b = list(map(lambda n : n**2 ,[1,2,3,4,5,6]))
print(b)

[1, 4, 9, 16, 25, 36]

In [6]:
a = list(map(int,num))
b = list(map(lambda n : n**2 ,[1,2,3,4,5,6]))
print("integer :",a)
print("Square of each integer :",b)

integer : [1, 2, 3, 4, 5, 6]
Square of each integer : [1, 4, 9, 16, 25, 36]


4. 
   - Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: ` [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]`
   - Use the `filter` function to create a new list that contains only the people who are older than 25.
   - Use the `map` function to create a new list that contains the names of the filtered people.
   - Print the list of names.

In [2]:
list1 = [{"name" : "prabhas" , "age" : 44},{"name" : "vijay" , "age" : 34}, {"name" : "virat" , "age" :33 }]

In [4]:
def name(n):
    if n["age"] > 25:
        return n
a = list(filter(name,list1))
a

[{'name': 'prabhas', 'age': 44},
 {'name': 'vijay', 'age': 34},
 {'name': 'virat', 'age': 33}]

In [6]:
def names(n):
    return {"name" : n["name"]}
list(map(names,a))

[{'name': 'prabhas'}, {'name': 'vijay'}, {'name': 'virat'}]

5. 
   - Create a program that reads a list of numbers from the user (you can use the `input` function for this).
   - Use `map` and `filter` functions to perform the following operations:
     - Square each number.
     - Filter out numbers that are not divisible by 3.
   - Print the result.

In [7]:
list1 = []
num = int(input("enter the integers you want :: "))
for i in range (1,num+1):
    a = int(input("enter the number :: "))
    list1.append(a)
print(list1)

enter the integers you want :: 8
enter the number :: 2
enter the number :: 5
enter the number :: 6
enter the number :: 10
enter the number :: 4
enter the number :: 3
enter the number :: 1
enter the number :: 0
[2, 5, 6, 10, 4, 3, 1, 0]

In [8]:
def sqr(n):
    return(n**2)

In [9]:
list(map(sqr,list1))

[4, 25, 36, 100, 16, 9, 1, 0]

In [10]:
def fil(n):
    if n%3!=0:
        return(n)

In [11]:
list(filter(fil,list1))

[2, 5, 10, 4, 1]

In [ ]:
# combination of integers float and string print only float values
# print only strings
# in the place of integer values with a name called integer,float as float,string as string

In [12]:
val = [1,4,8,"Teja","Indu","Manasa",8.5,3.0,2.8]

In [13]:
def int(n):
    if type(n) == float:
        return val

In [14]:
list(filter(int,val))

[8.5, 3.0, 2.8]

In [ ]:
# print only strings

In [15]:
var = [1,4,8,"Teja","Indu","Manasa",8.5,3.0,2.8]

In [16]:
def flo(n):
    if type(n)==str:
        return n

In [17]:
list(filter(flo,var))

['Teja', 'Indu', 'Manasa']

In [ ]:
# in the place of integer values with a name called integer,float as float,string as string

In [1]:
data = [1,4,8,"Teja","Indu","Manasa",8.5,3.0,2.8]

In [2]:
def flo(n):
    if type(n) == int:
        return("Integer")
    elif type(n) == float:
        return("Float")
    else:
        return("string")
list(map(flo,data))

['Integer',
 'Integer',
 'Integer',
 'string',
 'string',
 'string',
 'Float',
 'Float',
 'Float']