

**Assignment Task 1:** Tuple Basics
Create a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.

**Assignment Task 2:** Tuple Operations
Given two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.

**Assignment Task 3:** Set Creation
Create a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

**Assignment Task 4:** Set Operations
Given two sets, write a Python program to find the `union, intersection, and difference` of these sets.

**Assignment Task 5:** Tuple and Set Conversion
Write a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.

**Assignment Task 6:** Tuple Immutability
Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

**Assignment Task 7:** Set Operations and Methods
Write a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

**Assignment Task 8:** Tuple Slicing
Given a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

**Assignment Task 9:** Set Operations with Lists
Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

**Assignment Task 10:** Tuple and Set Combinations
Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

**Assignment Task 1: Tuple Basics
Create a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.**

In [4]:
fruits = ("Bannana","Apple","Grapes","Orange")

In [5]:
type(fruits)

tuple

In [8]:
fruits[0]

'Bannana'

In [9]:
fruits[1]

'Apple'

In [10]:
fruits[2]

'Grapes'

In [11]:
fruits[3]

'Orange'

**Assignment Task 2: Tuple Operations
Given two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.**

In [14]:
tuple1 = [1,4,8,10,7]
tuple2 = [5,2,8,3,9]

In [15]:
a = tuple1+tuple2

In [16]:
a

[1, 4, 8, 10, 7, 5, 2, 8, 3, 9]

In [18]:
len(a)

10

**Assignment Task 3: Set Creation
Create a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.**

In [22]:
numb = {2,4,6,8,10}

In [23]:
numb

{2, 4, 6, 8, 10}

In [24]:
type(numb)

set

**Assignment Task 4: Set Operations
Given two sets, write a Python program to find the `union, intersection, and difference` of these sets.**

In [5]:
set1 = {1,2,3,4,5,6,7}
set2 = {8,9,10,5,4}

In [6]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [7]:
set1.intersection(set2)

{4, 5}

In [8]:
set1.difference(set2)

{1, 2, 3, 6, 7}

**Assignment Task 5: Tuple and Set Conversion
Write a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.**

In [10]:
x = (1,4,7,2)

In [11]:
type(x)

tuple

In [12]:
val = set(x)

In [13]:
val

{1, 2, 4, 7}

In [14]:
type(val)

set

In [15]:
max(val)

7

In [16]:
min(val)

1

**Assignment Task 6: Tuple Immutability
Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.**

In [40]:
tup.add(6)

AttributeError: 'tuple' object has no attribute 'add'

In [41]:
tup.remove(3)

AttributeError: 'tuple' object has no attribute 'remove'

**Assignment Task 7: Set Operations and Methods
Write a Python program that takes a set of numbers and performs the following operations:**
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set

In [17]:
y = {5,8,2,9,1,6}

In [18]:
y.add(4)

In [19]:
y

{1, 2, 4, 5, 6, 8, 9}

In [20]:
y.remove(5)

In [21]:
y

{1, 2, 4, 6, 8, 9}

In [22]:
6 in y

True

In [23]:
len(y)

6

**Assignment Task 8:** Tuple Slicing
Given a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.**

In [24]:
tup = (1,4,3,6,8,5)

In [27]:
tup[2:5]

(3, 6, 8)

**Assignment Task 9:** Set Operations with Lists
Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.**

In [35]:
list = [1,1,4,3,6,6,7,8,9,7]

In [36]:
a = set(list)

In [37]:
a

{1, 3, 4, 6, 7, 8, 9}

In [38]:
duplicates = len(list)-len(a)

In [39]:
duplicates

3

**Assignment Task 10:** Tuple and Set Combinations
Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your.**

In [42]:
friends_favorite = ("Legend","Darling","kushi","Bro")

In [46]:
my_favs = {"Arjun Reddy","Sitaramam","Yogi","Darling"}

In [47]:
common = set(friends_favorite).intersection(my_favs)

In [48]:
common

{'Darling'}