**Task1: Append and Modify Elements**
    
* Create an empty list called numbers. Append the numbers 1, 2, and 3 to the list.
* Modify the element at index 1 to be 4.
* Print the updated list.

**Task2: Slicing and Concatenation**

* Create a list called fruits with elements 'apple', 'banana', 'orange', 'mango', and 'kiwi'. 
* Create a new list  by slicing fruits to include only the citrus fruits ('orange' and 'mango"). * Create a new list called tropical by slicing fruits to include only the tropical fruits ('banana" and "kiwi'). 
* Concatenate citrus and tropical lists to create a new list called combined. Print combined.

**Task3: Counting and Removing Elements**

* Create a list called colors with repeated elements 'red', 'blue', 'red', 'green', 'red'. Print the number of occurrences of 'red' in the list. Remove all occurrences of 'red' from the list. Print the updated list.

**Task 4: List Manipulation**

* Add 'cheese' to the end of the list. Remove 'milk' from the list.
* Create a list called groceries with initial items: 'bread', 'milk', 'eggs', 'butter'. Print the final list of groceries.
* Insert 'yogurt' at index 1.

# Task1: Append and Modify Elements

**1.Create an empty list called numbers. Append the numbers 1, 2, and 3 to the list.**

**2.Modify the element at index 1 to be 4.**

**3.Print the updated list.**

In [9]:
numbers = []

In [10]:
numbers.append(1)

In [11]:
numbers.append(2)

In [12]:
numbers.append(3)

In [13]:
numbers

[1, 2, 3]

In [14]:
numbers.insert(1,4)

In [15]:
numbers

[1, 4, 2, 3]

In [16]:
print(numbers)

[1, 4, 2, 3]

# Task2: Slicing and Concatenation

**1.Create a list called fruits with elements 'apple', 'banana', 'orange', 'mango', and 'kiwi'.**

In [17]:
fruits = ['apple', 'banana', 'orange', 'mango', "kiwi"]

**2.Create a new list  by slicing fruits to include only the citrus fruits ('orange' and 'mango"). * Create a new list called tropical by slicing fruits to include only the tropical fruits ('banana" and "kiwi').**

In [18]:
citrus_fruits = fruits[2:4:]

In [19]:
citrus_fruits

['orange', 'mango']

In [20]:
tropical_fruits = fruits[1::3]

In [21]:
tropical_fruits

['banana', 'kiwi']

**3.Concatenate citrus and tropical lists to create a new list called combined. Print combined.**

In [22]:
combined = citrus_fruits + tropical_fruits

In [23]:
print(combined)

['orange', 'mango', 'banana', 'kiwi']

# **Task3: Counting and Removing Elements**

**1.Create a list called colors with repeated elements 'red', 'blue', 'red', 'green', 'red'. Print the number of occurrences of 'red' in the list. Remove all occurrences of 'red' from the list. Print the updated list.**

In [24]:
color = ['red', 'blue', 'red', 'green', 'red']

In [25]:
color.count('red')

3

In [26]:
color.remove('red')

In [27]:
color

['blue', 'red', 'green', 'red']

In [28]:
color.remove('red')

In [30]:
color.remove('red')

In [31]:
color

['blue', 'green']

# Task 4: List Manipulation

**.Add 'cheese' to the end of the list. Remove 'milk' from the list.**

**.Create a list called groceries with initial items: 'bread', 'milk', 'eggs', 'butter'. Print the final list of groceries.**

**.Insert 'yogurt' at index 1.**

In [32]:
groceries = ['bread', 'milk', 'eggs', 'butter']

In [33]:
groceries.append('cheese')

In [34]:
groceries

['bread', 'milk', 'eggs', 'butter', 'cheese']

In [35]:
groceries.remove('milk')

In [36]:
groceries

['bread', 'eggs', 'butter', 'cheese']

In [37]:
groceries.insert(1, 'yogurt')

In [38]:
groceries

['bread', 'yogurt', 'eggs', 'butter', 'cheese']